<h1>Users#index</h1>
<% if logined? %>
    <div>
      <p>username:    <%= current_user.name %> </p>

      <p>email:       <%= current_user.email %> </p>

      <p>motto:       <%= current_user.motto %> </p>

      <p>solved       <%= current_user.solved %> </p>

      <p>submitted    <%= current_user.submitted %> </p>
    </div>
<% end %>