<!DOCTYPE html>
<html>
<head>
  <title>OnlineJudge</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>


<div class="panel panel-default">
  <div class="panel-body">
    <div class="container content-body">
        <% if logined? %>
            <p class="text-left text-primary text" style="font-size: 16px">Welcome, <%= current_user.name %></p>
        <% end %>
      <%= yield %>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>

</body>
</html>
